@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>
        <img style="height: 70%; width: 70%;" src="~/Images/Logo.jpg" />
    </h1>
    <p class="lead">
        A.P. Moller - Maersk
        A.P. Moller - Maersk is an integrated transport and logistics company with multiple brands and is a global leader in container shipping and ports. Including a stand-alone Energy division.
    </p>
    <p><a href="http://www.maersk.com/en/the-maersk-group/about-us" class="btn btn-primary btn-lg">Learn more</a></p>
</div>


<br/>

<div class="row jumbotron">
    <div class=" col-md-4">
        <div>
            <img style="height: 100%; width: 100%;" src="~/Images/maersk line.jpg" />
        </div>
        <h2>Trade and Transport</h2>
        <p>
            To enable and facilitate global supply chains and provide opportunities for our customers to trade globally.
        </p>
        <p><a href="http://www.maersk.com/en/industries/transport" class="btn btn-primary btn-lg">Read more</a></p>
    </div>
    <div class=" col-md-4">
        <div>
            <img style="height: 100%; width: 100%;" src="~/Images/maerskoil.jpg" />
        </div>
        <h2>Energy</h2>
        <p>
            To generate efficient and sustainable energy from natural resource to become the driving force in world markets.
        </p>
        <p><a href="http://www.maersk.com/en/industries/energy" class="btn btn-primary btn-lg">Read more</a></p>
    </div>
    <div class=" col-md-4">
    <img style="height: 100%; width: 100%;" src="~/Images/maersk2.jpg" height="234" width="436" />
    <h2>Growth commitment</h2>
    <p>
        Adhering to environmental responsibilities to create growth for the Maersk community and society as a whole.
    </p>
  
</div>
    
    </div>
  
