@model DDAC_Assignment.Models.Cargo
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cargo Report</h2>
<table style="width:100%;" class="table table-hover" >
    <tr>
        <td>asdf</td>
        <td>&hghjgjhgh;</td>
        <td>&hghjgjhgh;</td>
    </tr>
    <tr>
        <td>&hghjgjhgh;</td>
        <td>&hghjgjhgh;</td>
        <td>&hghjgjhgh;</td>
    </tr>
    <tr>
        <td>&hghjgjhgh;</td>
        <td>&hghjgjhgh;</td>
        <td>&hghjgjhgh;</td>
    </tr>
</table>

<h2>Yard Report</h2>
<table style="width:100%;">
    <tr>
        <td>hghjgjhgh</td>
        <td>&hghjgjhgh;</td>
        <td>&hghjgjhgh;</td>
    </tr>
    <tr>
        <td>&hghjgjhgh;</td>
        <td>&hghjgjhgh;</td>
        <td>&hghjgjhgh;</td>
    </tr>
    <tr>
        <td>&hghjgjhgh;</td>
        <td>&hghjgjhgh;</td>
        <td>&hghjgjhgh;</td>
    </tr>
</table>

<h2>Vessel Report</h2>
<table style="width:100%;">
    <tr>
        <td>hghjgjhgh</td>
        <td>&hghjgjhgh;</td>
        <td>&hghjgjhgh;</td>
    </tr>
    <tr>
        <td>&hghjgjhgh;</td>
        <td>&hghjgjhgh;</td>
        <td>&hghjgjhgh;</td>
    </tr>
    <tr>
        <td>&hghjgjhgh;</td>
        <td>&hghjgjhgh;</td>
        <td>&hghjgjhgh;</td>
    </tr>
</table>

<h2>Schedule Report</h2>
<table style="width:100%;">
    <tr>
        <td>hghjgjhgh</td>
        <td>&hghjgjhgh;</td>
        <td>&hghjgjhgh;</td>
    </tr>
    <tr>
        <td>&hghjgjhgh;</td>
        <td>&hghjgjhgh;</td>
        <td>&hghjgjhgh;</td>
    </tr>
    <tr>
        <td>&hghjgjhgh;</td>
        <td>&hghjgjhgh;</td>
        <td>&hghjgjhgh;</td>
    </tr>
</table>

