<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/a0ba5238-1f70-4874-9c9f-f2f6662ae525/resourceGroups/WebApplicationSEA/providers/Microsoft.Web/sites/WebApplicationSEA</ResourceId>
    <ResourceGroup>WebApplicationSEA</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://webapplicationsea.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>webapplicationsea.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>WebApplicationSEA</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$WebApplicationSEA</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:ddac031915.database.windows.net,1433;Initial Catalog=DDAC_DB;Persist Security Info=False;User ID=leeyang;Password=y@ng1234;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Data Source=tcp:ddac031915.database.windows.net,1433;Initial Catalog=DDAC_DB;Persist Security Info=False;User ID=leeyang;Password=y@ng1234;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DDAC_Assignment.Models.ApplicationDbContext, DDAC_Assignment" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ConnStringDb1" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:ddac031915.database.windows.net,1433;Initial Catalog=DDAC_DB;Persist Security Info=False;User ID=leeyang;Password=y@ng1234;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Data Source=tcp:ddac031915.database.windows.net,1433;Initial Catalog=DDAC_DB;Persist Security Info=False;User ID=leeyang;Password=y@ng1234;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:ddac031915.database.windows.net,1433;Initial Catalog=DDAC_DB;Persist Security Info=False;User ID=leeyang;Password=y@ng1234;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ConnStringDb1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:ddac031915.database.windows.net,1433;Initial Catalog=DDAC_DB;Persist Security Info=False;User ID=leeyang;Password=y@ng1234;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <EnableADPublish>true</EnableADPublish>
    <ADDomain>yang6010lycgmail.onmicrosoft.com</ADDomain>
    <ADAppIDUri>https://yang6010lycgmail.onmicrosoft.com/WebApp-webapplicationsea.azurewebsites.net</ADAppIDUri>
    <ADDestinationProvisioned>True</ADDestinationProvisioned>
    <ADUsesOwinOrOpenIdConnect>true</ADUsesOwinOrOpenIdConnect>
    <ADClientAPPID>36cdb3bd-2149-40fe-8353-f877fb3a7733</ADClientAPPID>
    <ADClientPassword>v9Lg7/9Kzi2W/52KEa8Dt6x64fhr7/mxdgbDwVb3h2w=</ADClientPassword>
    <ADReplyUrl>https://webapplicationsea.azurewebsites.net/</ADReplyUrl>
    <ADIssuer />
    <ADTenantId>4f5a3a75-334a-4b4b-9924-c23a9cd8911f</ADTenantId>
    <ADPostLogoutRedirectUri>https://webapplicationsea.azurewebsites.net/</ADPostLogoutRedirectUri>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:ddac031915.database.windows.net,1433;Initial Catalog=DDAC_DB;Persist Security Info=False;User ID=leeyang;Password=y@ng1234;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:ddac031915.database.windows.net,1433;Initial Catalog=DDAC_DB;Persist Security Info=False;User ID=leeyang;Password=y@ng1234;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ConnStringDb1-Web.config Connection String">
      <ParameterValue>Data Source=tcp:ddac031915.database.windows.net,1433;Initial Catalog=DDAC_DB;Persist Security Info=False;User ID=leeyang;Password=y@ng1234;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:ddac031915.database.windows.net,1433;Initial Catalog=DDAC_DB;Persist Security Info=False;User ID=leeyang;Password=y@ng1234;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:ddac031915.database.windows.net,1433;Initial Catalog=DDAC_DB;Persist Security Info=False;User ID=leeyang;Password=y@ng1234;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>